input {
    width: 300px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

select {
    width: 100px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.invio {
    width: 150px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: wheat;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.invio:hover {
    background-color: yellow;
}

input:not(.invio):focus {
    border: 2px solid blue;
    outline: none;
    background-color: lightyellow;
}

select:focus {
    border: 2px solid blue;
    outline: none;
    background-color: lightyellow;
}