.is-focused {
    border: 2px solid blue;
    outline: none;
}

.err {
    border: 2px solid red;
    outline: none;
}

.accepted {
    border: 2px solid green;
    outline: none;
}

#form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#form label {
    font-family: sans-serif;
    margin-bottom: 5px;
    font-size: 18px;
}

#form input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

#label_textarea {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

#label_textarea p {
    margin: 10px 0 0 0;
}

#textarea {
    resize: none;
    width: 100%;
    max-width: 400px;
    height: 80px;
    padding: 10px 5px 10px 5px;
    font-size: 14px;
    font-family: sans-serif;
}

#form button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: lightblue;
}

#esito {
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}
